{

  "exp": {
    "name": "RGB"
  },

  "label":{
    "malignant": 1,
    "benign": 0
  }, 

  "fit_generator": {
    "max_queue_size": 40,
    "workers": 8,
    "use_multiprocessing": true
  },

 "LRFinder":{
    "minimum_lr": 0.001,
    "maximum_lr": 0.1,
    "learning_rate": 0.001,
    "decay_rate": 0.001
  },

 "LROnPlateau":{
    "monitor": "val_loss",
    "factor": 0.5,
    "patience":	2,
    "verbose": 1,
    "mode": "auto",
    "min_delta": 0.0001,
    "cooldown":	0,
    "min_lr": 0.00001
  },

"model":{
    "freeze_RGB": 0
  },

  "trainer":{
    "num_epochs": 20,
    "batch_size": 16,
    "dropout": 0.3,
    "verbose_training": true,
    "optimizer": "adam",
    "weights": "None"
  },

  "callbacks":{
    "checkpoint_monitor": "val_loss",
    "checkpoint_mode": "min",
    "checkpoint_save_best_only": true,
    "checkpoint_save_weights_only": true,
    "checkpoint_verbose": true,
    "tensorboard_write_graph": true,
    "tensorboard_log_dir": "",
    "tensorboard_write_graph": true
  },

  "tensorboard":{
    "batch_size": 32,
    "write_graph": true,
    "write_images": false,
    "embeddings_freq": 0,
    "embeddings_layer_names": "None",
    "embeddings_metadata": "None",
    "embeddings_data": "None",
    "update_freq": "epoch"
  },

  "loss":{
    "gamma": 2.0,
    "alpha": 0.25
  }
}
